*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
@font-face {
    font-family: 'FontBold';
    src:  url('media/font-bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'FontStenc';
    src:  url('media/font-stencil.woff2') format('woff2');
  }

html{
    font-family: 'FontStenc';
}

.title{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content:flex-start;
    justify-content: center;
    height: 100vh;
    background-image: url('media/BTTE1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-text{
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

.main-text h1{
    font-size: 5rem;
    color: aliceblue;
}
.secondary-text{
    grid-column-start: 3;
    grid-row-start: 3;
    align-self:center;
    justify-self:center;
}
.secondary-text h2{
    color: aliceblue;
}
@media screen and (max-width:1000px){
    .main-text{
        grid-row-start: 2;
    }
    .secondary-text{
        grid-column-start: 2;
    }
}

.second-container .card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}



.card{
    padding: 2rem;
    
}
.card-title{
    font-family: 'FontBold';
    font-size: 2rem;
}
.a1{
    grid-column-start: 2;
}

@media screen and (max-width:800px){
    .second-container .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-left: 1rem;
    }
    .a1{
        grid-column-start: 1;
    }
}

@media screen and (max-width:400px){
    .second-container .card-container{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        margin-left: 1rem;
    }
    .a1{
        grid-column-start: 1;
    }
}