*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content:flex-start;
    justify-content: center;
    height: 100vh;
    background-image: url('media/bv-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-text{
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

.main-text h1{
    font-size: 5rem;
    color: aliceblue;
}
.secondary-text{
    grid-column-start: 3;
    grid-row-start: 3;
    align-self:center;
    justify-self:center;
}
.secondary-text h2{
    color: aliceblue;
}
@media screen and (max-width:1000px){
    .main-text{
        grid-row-start: 2;
    }
    .secondary-text{
        grid-column-start: 2;
    }
}